.h-75 {
    min-height: 75px;
}

.h-150 {
    min-height: 150px;
}

.h-180 {
    min-height: 180px;
}

.h-200 {
    min-height: 200px;
}

.bg-grey {
    background-color: #686565;
}

.bg-yellow {
    background-color: yellowgreen;
}

.col-20 {
    min-width: 20%;

}

.h-24 {
    min-height: 150px;
}

.bb-15 {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid gray;
}

.gap-20 {
    gap: 20px;
}

.gap-15 {
    gap: 15px;
}

